extends layout
block content
    h2 Hey #{chatName}! You can start chatting anonymously. Enjoy!
    ul.list-group
        li.list-group-item Name: #{name}
        li.list-group-item Email: #{email}
    p.signout
        a(href='/logout') Logout
        a(href='/chatroom') Start Chatting!
