extends layout
block content
    form(method='POST' action='/register' class='form')
        div.form-group
            label(for="name")  Name:
            input(type='text' name='name' placeholder='Real Name' class='form-control')
        div.form-group
            label(for="chatName")  Chat Name:
            input(type='text' name='chatName' placeholder='Chat Name' class='form-control')
        div.form-group
            label(for="email") Email:
            input(type='text' name='email' placeholder='Email' class='form-control')
        div.form-group
            label(for="password")  Password:
            input(type='password' name='password' placeholder='Password' class='form-control')
        div.form-group
            label(for="confirmPassword")  Confirm Password:
            input(type='password' name='confirmPassword' placeholder='Confirm password' class='form-control')
        button.btn Sign Up!